/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, A
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Actual site CSS */

html {
  font-family:dejavu_sans_monobook;
  background-color:#45484B;
  min-height: 1000px;
}

header {
  font-family:dejavu_sans_monobook;
  color:#eee6ab;
  background-color:#2a2a2a;
  font-size:50px;
  min-width: 800px;
  min-height: 160px;
}

nav {
  font-family:dejavu_sans_monobook;
  background:#fdfdfd;
  padding:5px;
  min-width: 800px;
  box-shadow: 3px;
}

body {
  font-family:dejavu_sans_monobook;
  font-size: 16px;
  letter-spacing: 0px;
  color: #f2f2f2;
}

p {
  font-family: dejavu_sans_monobook;
  color: #f2f2f2;
  padding: 5px 0px 5px 0px;
  line-height:20px;

}

a {
  color:#1851b0;
}

a:visited {
  text-decoration: none;
  color:#b83030;
}

strong {
  font-family:dejavu_sans_monobold;
}

b {
  font-family:dejavu_sans_monobold;
}

em {
  font-family:dejavu_sans_monooblique;
}

i {
  font-family:dejavu_sans_monooblique;
}

strong.em {
  font-family:dejavu_sans_monobold_oblique;
}

em.strong {
  font-family:dejavu_sans_monobold_oblique;
}

code {
  color:#FF9900;
  padding: 0px 2px 0px 2px;
  margin: 0px;
  box-shadow: 1px;
}

pre {
  float:left;
}

ul {
  margin:10px 0 0 25px;
  border: 1px solid;
  padding: 5px;
  max-width: 550px;
}

li {
  display:block;
  padding:5px 5px 5px 5px;
  text-decoration: none;
  color:;
}

h1 {
  margin-left: 45px;
  font-family:dejavu_sans_monobook;
  color: #3299BB;
  font-size:48px;
}

h2 {
  margin-top:15px;
  margin-left:25px;
  font-family:dejavu_sans_monobook;
  color: #EEE6AB;
  font-size:36px;
}

h3 {
  margin-top:15px;
  margin-left:25px;
  font-family:dejavu_sans_monobook;
  color: #EEE6AB;
}

h4 {
  margin-top:15px;
  margin-left:25px;
  font-family:dejavu_sans_monobook;
  color: #EEE6AB;
}

h5 {
  margin-top:15px;
  margin-left:25px;
  font-family:dejavu_sans_monobook;
  color: #EEE6AB;
}

h6 {
  margin-top:15px;
  margin-left:25px;
  font-family:dejavu_sans_monobook;
  color: #EEE6AB;
}

footer {
  font-family:dejavu_sans_monobook;
  color: #EEE6AB;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  font-size: 10px;
}